<div class="container">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3><center>LogIN</center></h3>

                        <form role="form">

                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text" class="form-control" ng-model="user.userid" placeholder="Enter your id">
                            </div>

                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" ng-model="user.password" placeholder="Enter your password">
                            </div>

                            <button type="submit" class="btn btn-default" ng-click=LogIN(user)>LogIN</button>
                        </form>


                    </div>
                </div>
            </div>

</div>